<!DOCTYPE html>
<html>
  <head>
    <title>Ashademy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href=<%= image_url('logo.png') %>>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Indie+Flower&display=swap" rel="stylesheet">
    <script type="text/javascript">
      window.COURSE_TYPES = <%= raw Course::TYPES %>
      window.githubIcon = "<%= image_url('github-logo.png') %>";
      window.linkedinLogo = "<%= image_url('linkedin-logo.png') %>";
      window.logo = "<%= image_url('logo.png') %>";
      window.profile = "<%= image_url('profile.svg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
